# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Model checkpoints
*.pth
*.pt

# Dataset
datasets/

# Old / experimental code
new code/
old code/

# Training output images
*.png

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Python environment
*.egg-info/

# OS files
.DS_Store
Thumbs.db